*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
   //variables
$colorFondoIndex:#e0dbdb;
$colorFondoFutbol:rgb(167, 167, 170);
$colorFondoBasket:rgb(115, 146, 173);
$colorFondoBoxeo:antiquewhite;
$colorFondoNavegadoryFooter:black;
   //mixin
@mixin formulario($background, $ancho, $relleno){
    background-color: $background;
    width: $ancho;
    padding: $relleno;
}